

body{
  background-color: rgb(228, 213, 191);
}

.search-icon {
  color: brown;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #ffffff;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 3.25rem;
  color: rgb(61, 107, 61);
}

.blog-subheader-logo {
  font-family: "Arial", sans-serif;
  font-size: 1.25rem;
  color:rgb(61,107,61);
}

.blog-header-logo:hover {
  text-decoration: none;
}

.accordian-item {
  font-family: "Arial", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

img {
  max-width: 100%;
  height: auto;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.navbar .nav-link {
  white-space: normal;
  text-align: center;
}

.search-form {
  max-width: 300px;  
  width: 100%;       
}

@media (max-width: 767px) {
  .search-form {
    display: none;   
  }
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}


.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}


.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #ffffff;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}


@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #fdfafa;
  }
}

